[submodule ".registry"]
	path = .registry
	url = https://github.com/m-murphy/m-murphy.r-universe.dev
	branch = HEAD
[submodule "eppicenter.tools"]
	path = eppicenter.tools
	url = https://github.com/m-murphy/eppicenter.tools
